#saritha1 {
    height: 55;
    width: 300px;
}

#saritha2 {
    height: 55;
    width: 300px;
}

#saritha3 {
    height: 55;
    width: 300px;
}

#saritha4 {
    height: 55;
    width: 300px;
}